
<br><br><br><br>
<div class="container-fluid" style="margin-top: 20px;">
  <br>
  <br>
  <div class="container mt-4" >
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Agreement ID</th>
            <th>User Email</th>
            <th>Required Days</th>
            <th>Vehicle Maker</th>
            <th>Vehicle Model</th>
            <th>Total Cost</th>
            <th>Return Button</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.agreementID}}</td>
            <td>{{item.email}}</td>
            <td>{{item.days}}</td>
            <td>{{item.vehicleMaker}}</td>
            <td>{{item.vehicleModel}}</td>
            <td>{{item.rentalCost}}</td>
            <td>
              <button class="btn btn-warning" (click)="pushStatus(item.agreementID)">
                <i class="fa fa-undo"></i> Return Car
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>